<% if !current_admin.nil?%>
<div  class="container">
  <h1 class="text-center p-2 border-bottom">Clients </h1>
  <br>


  <% @clients.each do |client| %>
  <div class="d-sm-flex flew-row justify-content-start text-center border-bottom">
    <div class="m-3 col-2">
      <h3><%= client.prenom %> </h3>
    </div>
    <div class="m-3 col-2">
      <h3> <%= client.nom%> </h3>
    </div>
    <div class="ml-2">
      <p>
        <a href="<%= client_path(client.id) %>" class="btn btn-outline-secondary m-3">Consult</a>
      </p>
    </div>
    <div>
      <p>
        <a href="<%=client_path(client.id) %>" class="btn btn-danger m-3" data-confirm="Sure?" data-method="DELETE">Delete client</a>
      </p>
    </div>
  </div>
  <% end %>
</div>
<% end %>
