<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">New collection</h1>
    <p class="lead ">All the articles available in the new collection are here</p>
    <a class="btn btn-outline-secondary" href="/articles">Consult</a>
  </div>
</div>

<div class="d-lg-flex flex-md-equal w-100 my-md-3 pl-md-3 justify-content-center height-home">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden flex-fill  ">
    <div class="my-3 py-3" >
      <h2 class="display-5">Clothes</h2>
      <br>
      <p class="lead">All our clothes can be foud here</p>
      <br>
      <a class="btn btn-outline-secondary" href="#">Consult</a>

    </div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden flex-fill">
    <div class="my-3 p-3">
      <h2 class="display-5">Goodies and others</h2>
      <br>
      <p class="lead">Here you can find all the goodies and a lot more</p>
      <br>
      <a class="btn btn-outline-secondary" href="#">Consult</a>

    </div>
  </div>
  </div>
</div>


</div>
