.form {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
    padding-bottom: 3rem;
    padding-top: 2rem;
  }

  .form .checkbox {
    font-weight: 400;
  }

  .form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form .form-control:focus {
    z-index: 2;
  }

  .thin {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  @media screen and (max-width: 767px){
    .thin{
      padding: 4rem;
    }
  }